.movie-view {
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #141414;
    padding: 20px;
  }
  
  .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
  }
  
  .movie-poster {
    max-width: 200px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    margin-right: 20px;
  }
  
  .banner-info {
    max-width: 70%;
    color: #fff;
  }
  
  .movie-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .movie-overview {
    font-size: 1.2rem;
    line-height: 1.6;
  }
  
  h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: mediumpurple;
  }
  
  .cast-crew {
    margin-top: 30px;
  }
  
  .cast-crew h2 {
    margin-bottom: 20px;
    font-size: 1.8rem;
    color: mediumpurple;
    text-align: center;
  }
  
  .cast-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .cast-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 150px;
    font-size: 1rem;
    color: #bbb;
  }
  
  .cast-photo {
    border: 2px solid mediumpurple;
    border-radius: 5px;
    max-width: 150px;
    max-height: 200px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  }
  .movie-videos {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .movie-videos h2 {
    margin-bottom: 15px;
    color: mediumpurple;
  }
  
  .movie-videos iframe {
    width: 90%;
    max-width: 800px;
    height: 450px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  }
  
  .movie-photos {
    margin-top: 30px;
  }
  
  .photo-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    justify-content: center;
    
  }
  
  .movie-photos h2 {
    text-align: center;
    margin-bottom: 15px;
    color: mediumpurple;
  }
  
  .photo-item {
    width: 150%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease;
  }
  
  .photo-item:hover {
    transform: scale(1.05);
  }
  
  