.main-container-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #121212;
 
  
}

.form-container {
  padding: 8rem 8rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:mediumpurple;
  background-color:#1c1c1c;
  margin-top: 100px;
  margin-bottom: 50px;
}
.LoginText{
  font-size: 3rem;
}
.form-container > div {
  margin-bottom: 12px;
  color:mediumpurple;
  
}

.form-group {
  display: flex;
  color:mediumpurple;
  
}

.form-group label {
  width: 70px;
  margin-right: 12px;
  text-align: left;
  font-weight: bold;
}
.login.errors {
  margin-bottom: 1rem;
}
.errors {
  color: red;
  font-size: 12px;
}
.submit-container {
  margin-top: 12px;
  text-align: center;
  font-weight: bold;
  justify-content: center;
  display: flex;
  align-items: center;

}
.submit-container button{
padding: 12px 30px;
border-radius: 10px;
background-color: mediumpurple;
font-weight: bold;
width: 200%;
cursor: pointer;
margin-top: 20px;
font-size: 1rem;
transition: background-color 0.3s ease, transform 0.2s ease;
}
.submit-container button:hover{
  background-color: darkslateblue;
  transform:scale(1.05);
}
.submit-container button:active{
  transform: scale(0.98);
}
.register-container {
  text-align: center;
}
.show-password {
  margin-bottom: 1rem;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: rgb(255, 0, 0);
  font-size: 1.5rem;
  
}
