.main-container {
  height: fit-content;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: black;
}

.page-title{
  font-size: 4.5rem;
  font-weight: bold;
  color:mediumpurple;
  text-align: center;
}
.list-container {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  gap: 1rem;
  justify-content: center;
}

.featured-list-container {
  width: 100%;
  /* margin-bottom: 5rem; */
  aspect-ratio: 16 / 9;
}
.featured-backdrop {
  height: 100%;
  width: 100%;
  background-size: cover !important;
  display: flex;
  align-items: end;
}
.featured-movie-title {
  font-weight: bold;
  font-size: 3rem;
  width: 100%;
  padding: 2rem;
}
