.main-container {
  height: fit-content;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: black;
}

.page-title{
  font-size: 4.5rem;
  font-weight: bold;
  color:mediumpurple;
  text-align: center;
}
.list-container {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  gap: 1rem;
  justify-content: center;
}

.featured-list-container {
  width: 100%;
  aspect-ratio: 16 / 9;
}
.featured-backdrop {
  height: 90%;
  width: 100%;
  background-size: cover !important;
  display: flex;
  align-items: end;
  transition: 1s ease-in-out;
}

.featured-movie-title {
  font-weight: bold;
  font-size: 3rem;
  width: 100%;
  padding: 2rem;
  color: white;
}


.search-container-home{
  margin: 20px 0;
  text-align: center;
  color: mediumpurple;
}

.search-container-home input {
  padding: 10px;
  margin-right: 10px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-container-home button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: mediumpurple;
  color: #000;
  cursor: pointer;
  transition: 0.3s ease;
}

.search-container-home button:hover {
  background-color: darkslateblue;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination-container button {
  padding: 10px 15px;
  margin: 0 5px;
  border: none;
  border-radius: 5px;
  background-color: mediumpurple;
  color: black;
  cursor: pointer;
}
.pagination-container button:hover {
background-color: darkslateblue;
transition: 0.3s ease;
}

.pagination-container button:disabled {
  background-color: mediumpurple;
  cursor: not-allowed;
}

.pagination-container span {
  margin: 0 10px;
  color: mediumpurple;
}

.top-movies-container {
  margin: 20px 0;
}

.top-movies-container h2 {
  font-size: 20px;
  margin-bottom: 15px;
  color: mediumpurple;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}
.moviesign{
  display: flex;
  
}

