.Main {
  display: flex;
  overflow: hidden;
  max-height: 100vh;
}
.Main .container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.Main .container .outlet {
  flex-grow: 3;
  overflow-y: auto;
}
.Main .container .navigation2 {
  height: 80px;
  background-color: #15171b;
  width: 100%;
  padding:10px;
}

.Main .container .navigation2 ul {
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.Main .container .navigation2 ul li {
  padding: 0px 60px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #61dafb;
  font-weight: bold;
}
.Main .container .navigation2 ul li a {
  text-decoration: none;
  color: darkslateblue;
}
.Main .container .navigation2 ul li.active a,
.Main .container .navigation2 ul li:hover a {
  text-decoration: none;
  color: mediumpurple;
}
.Main .container .navigation2 ul li.active,
.Main .container .navigation2 ul li:hover {
  background: #353a43;
}
.Main .container .navigation2 ul li a {
  text-decoration: none;
}

.Main .container .navigation2 ul li.logout,
.Main .container .navigation2 ul li.login {
  cursor: pointer;
  justify-self: end;
}
@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 80px;
  color:black;
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  font-family: serif;

  /* Animated gradient background */
  background: linear-gradient(270deg, purple,darkslateblue,blueviolet,darkorchid, darkorchid,blueviolet ,darkslateblue,purple);
  background-size: 400% 400%;
  animation: gradientAnimation 6s ease infinite;

}


